*{
	margin: 0;
	padding: 0;
}

/* 
Estilo para o conteúdo do nosso site
*/

html, body{
	height: 100%;
}

.tipo_1{
	color: rgb(100,100,100);
}

.link_{
	font-size: 30px;
}

.tipo_2{
	font-size: 40px;
}